<h1>Hooks
<a href="/hooks/create" class="btn btn-primary pull-right">Create new</a>
</h1>

<table class="table table-striped">
  <tr>
  	<th>Hook name</th>
  	<th>Last hit</th>
  	<th>Link</th>
  	<th>-</th>
  </tr>
  {{#hooks}}
  <tr>
  	<td>{{name}}</td>
  	<td>{{formatDateTime lasthit}}</td>
  	<td><a href="/inbound/{{hash}}">{{hash}}</a></td>
  	<td>
      <a href="/hooks/{{id}}/logs" class="btn btn-sm btn-warning">Build logs</a>
  		<a href="/hooks/{{id}}/requests" class="btn btn-sm btn-info">Requests</a>
  		<a href="/hooks/{{id}}/edit" class="btn btn-sm btn-primary">Edit</a>
  		<a href="/hooks/{{id}}/remove" class="btn btn-sm btn-danger">Remove</a></td>
  	</td>
  </tr>
  {{/hooks}}
</table>