<h1>Log: {{hook.name}} - {{build.name}}</h1>
<p>Created: {{formatDateTime log.created}}
{{#ifCond log.status '==' 'success'}}
	<span class="btn btn-success btn-sm">SUCCESS</span>
	{{else}}
	{{#ifCond log.status '==' 'failed'}}
	  <span class="btn btn-warning btn-sm">FAILED</span>
	{{else}}
	  <span class="btn btn-danger btn-sm">ERROR FAILED</span>
	{{/ifCond}}
{{/ifCond}}
</p>

<h2>Build log:</h2>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
{{#log.build}}
	<div class="panel panel-default">
		<div class="panel-heading" role="tab" id="buildHeading{{@index}}">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#build{{@index}}" aria-expanded="true" aria-controls="build{{@index}}">{{cmd}}</a>
			</h4>
		</div>
	    <div id="build{{@index}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="buildHeading{{@index}}">
			<div class="panel-body">
				{{#if stdout}}
				<div class="col-md-2">
					<p>Stdout:</p>
				</div>
				<pre class="col-md-10">{{stdout}}</pre>
				{{/if}}
				{{#if stderr}}
				<div class="col-md-2">
					<p>Stderr:</p>
				</div>
				<pre class="col-md-10">{{stderr}}</pre>
				{{/if}}
			</div>
		</div>
	</div>
{{/log.build}}
</div>



{{#ifCond log.status '==' 'success'}}
{{else}}
	<hr />

	<h2>Build error:</h2>
	<pre>{{log.build_error}}</pre>

	<hr />
	<h2>Error log:</h2>
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	{{#log.error}}
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="errorHeading{{@index}}">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#error{{@index}}" aria-expanded="true" aria-controls="error{{@index}}">{{cmd}}</a>
				</h4>
			</div>
		    <div id="error{{@index}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="errorHeading{{@index}}">
		    	<div class="panel-body">
					{{#if stdout}}
					<div class="col-md-2">
						<p>Stdout:</p>
					</div>
					<pre class="col-md-10">{{stdout}}</pre>
					{{/if}}
					{{#if stderr}}
					<div class="col-md-2">
						<p>Stderr:</p>
					</div>
					<pre class="col-md-10">{{stderr}}</pre>
					{{/if}}
				</div>
			</div>
		</div>
	{{/log.error}}
	</div>

	{{#ifCond log.status '==' 'error_failed'}}
	<hr />

	<h2>Error error:</h2>
	<pre>{{log.error_error}}</pre>
	{{/ifCond}}
{{/ifCond}}