<h1>Build logs</h1>

<table class="table table-striped">
  <tr>
    <th>Status</th>
  	<th>Hook name</th>
  	<th>Build name</th>
    <th>Date</th>
  	<th>-</th>
  </tr>
  <tr>
  {{#logs}}
  {{#ifCond status '==' 'success'}}
    <td><span class="btn btn-success btn-sm">SUCCESS</span></td>
  {{else}}
    {{#ifCond status '==' 'failed'}}
      <td><span class="btn btn-warning btn-sm">FAILED</span></td>
    {{else}}
      <td><span class="btn btn-danger btn-sm">ERROR FAILED</span></td>
    {{/ifCond}}
  {{/ifCond}}
    <td><a href="/hooks/{{hookid}}">{{hookname}}</a></td>
    <td><a href="/build/{{buildid}}">{{buildname}}</a></td>
  	<td>{{formatDateTime created}}</td>
  	<td>
  		<a href="/logs/{{id}}" class="btn btn-warning btn-sm">View</a>
      <a href="/requests/{{requestid}}" class="btn btn-info btn-sm">Request</a>
  	</td>
  </tr>
  {{/logs}}
</table>